*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tieu_de {
    color: #0000ffd6;
    text-align: center;
    margin-bottom: 15px;
}

input#fUpload {
    font-size: 17px;
}

input#btnNhaplai {
    width: 90px;
    font-size: 17px;
}

input#btnGui {
    width: 60px;
    font-size: 17px;
}

td.mot {
    font-size: 19px;
    width: 140px;
}

button {
    width: 80px;
}

tr.box-item {
    height: 70px;
}

table.table1 {
    width: 689px;
}

.bang {
    width: 656px;
    margin: auto;
    margin-top: 60px;
}

.khungMenu {
    width: auto;
    height: 25px;
    padding-top: 5px;
    padding-left: 10px;
    background-color: #0080008a;
}

li._1Menu {
    border-right: 1px solid;
    line-height: 13px;
    padding: 0px 7px;
    font-size: 16px;
    color: blue;
}

li._1Menu:last-child {
    border-right: none;
}

ul.Menu {
    width: 449px;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

b.indam {
    font-size: 16px;
}

.kettrang {
    text-align: center;
    margin-top: 132px;
    width: 998px;
    height: 95px;
    background-color: #3167CB;
    color: white;
    padding-top: 15px;
}

p.Thongtin {
    margin-left: 195px;
    font-size: 21px;
}

p.noidung {
    font-size: 32px;
}

.khungchu {margin-left: 334px;margin-top: -107px;height: 72px;width: 659px;color: #2CF9D9;}

.khungtong {width: 1000px;height: 537px;margin: auto;}

img {
    width: 317px;
    height: 127px;
}

.khunganh {
    width: 1000px;
    height: 128px;
    background-color: #246BBE;
}

.img{
    width: 1367px;
    height: 400px;
}